In [3]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as py

In [6]:
df = pd.read_csv('COb.csv')

In [7]:
df

     CO2(ppm)   TVOC   temperature
0        1153    114     25.000000
1         409      1     25.502293
2         433      5     25.000000
3         436      5     25.885364
4         436      5     24.114636
5         400      0     25.502293
6         405      0     24.616929
7         444      6     25.502293
8         459      8     25.000000
9         459      8     25.502293
10        481     12     24.616929
11        493     14     25.885364
12        594     29     24.616929
13        600     30     25.885364
14        615     32     25.000000
15        615     32     25.885364
16        588     28     25.000000
17        594     29     25.885364
18        594     29     25.000000
19        674     41     25.885364
20        629     34     24.616929
21        623     33     25.502293
22        637     36     25.000000
23        637     36     25.885364
24        629     34     25.000000
25        650     38     25.885364
26        674     41     25.000000
27        650     38     25.885364
28        637     36     25.000000
29        787     58     25.885364
..        ...    ...           ...
192       400      0     23.378624
193       405      0     24.263988
194       405      0     23.018154
195       405      0     23.903519
196       405      0     23.018154
197       408      1     23.903519
198       405      0     23.018154
199       408      1     23.903519
200       405      0     23.018154
201       405      0     23.903519
202       405      0     23.018154
203       405      0     23.018154
204       408      1     23.018154
205       405      0     23.018154
206       405      0     23.018154
207       415      2     22.311623
208       543     21     22.311623
209       683     43     22.662530
210       853     69     22.662530
211       905     76     22.662530
212       967     86     22.662530
213      1032     96     23.018154
214      1285    134     22.662530
215      1416    154     23.018154
216      1458    161     23.018154
217      1432    157     23.018154
218      1538    173     23.018154
219      1558    176     23.018154
220      1558    176     23.018154
221      1574    178     23.378624

[222 rows x 3 columns]